---
// Component Imports
import Layout from '../layouts/Layout.astro';
// You can import components from any supported Framework here!

import lekcie from './lekcie';

---
<Layout>
	<div class="container">
		<h1>Lekcie</h1>

		{
			lekcie.map((lekcia, index) => (
				<section>
					<h3>Lekcia {index + 1} - {lekcia.topic}</h3>
					<p>{lekcia.perex}</p>
					{
						<ul>
							{
								lekcia.links.map((link) => (
									<li><a href={link.href} target="_blank">{link.label}</a></li>
								))
							}
						</ul>
					}
				</section>
			))
		}





	</div>

</Layout>